<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="stylelogin.css" />
</head>
<body>
    <div class="login">
        <div class="avatar">
          <img src="avatar.png" />
        </div>
        <h2>Bienvenido</h2>
  
        <form class="login-form" action="/login" method="POST">
          <div class="textbox">
            <input type="number" placeholder="Usuario" name="usuario"/>
            <span class="material-symbols-outlined"> </span>
          </div>
          <div class="textbox">
            <input type="password" placeholder="Contraseña" name="password"/>
            <span class="material-symbols-outlined"> </span>
          </div>
          <button type="submit">INICIAR</button>
          <a href="https://website.com">¿Olvidaste tus datos?</a>
        </form>
      </div>
</body>
</html>